pyTelegramBotAPI==4.13.0
Flask==2.3.2
requests==2.31.0
gunicorn==21.2.0
# Для аудиообработки (шумоподавление, фильтры, конверсия)
# Для аудиообработки
librosa==0.10.1
soundfile==0.12.1
noisereduce==3.0.3

# На Render работают эти версии без сборки из исходников
numpy==1.26.4
scipy==1.12.0
